#photo-produit{
    height: 100px;
    width: auto;
}

#description-produit{
    border-left: 1px lightgrey solid;
    height: 100%;
}

#product{
    width: 80%;
}

.modal-body .card{
    margin: 15px 0;
}

#total-price{
    text-align: right;
    width: 80%;
    font-weight: bold;
}
