.gestion-panier{
    display: flex;
    justify-content: space-evenly;
}

#btn-plus, #btn-moins{
    all: unset !important;
    background: none !important;
	color: inherit !important;
	border: none !important;
	padding: 0 !important;
	font: inherit !important;
	cursor: pointer !important;
	outline: inherit !important;
    background-color: none !important;
}

#btn-plus svg, #btn-moins svg {
    pointer-events: none;
}
