
#main{/* Main image */
position: absolute;
left: 0%;
right: 0%;
top: 24.68%;
bottom: -92%;

}
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}
.acceuil {
  background-position: center;
  background-size: cover;
  /* background-image: url("../../images/acceuil1.png"); */
  /* background-image: url("images/acceuil1.png"); */
  min-height: 75%;
  text-align: center;
  height: 500px;
}
.cave {
  background-position: center;
  background-size: cover;
  background-image: url("images/cave.png");
  min-height: 75%;
  text-align: center;
  height: 500px;
}
.degustation {
  background-position: center;
  background-size: cover;
  background-image: url("images/diapo1.jpg");
  min-height: 75%;
  text-align: center;
  height: 500px;
}
.propos {
  background-position: center;
  background-size: cover;
  background-image: url("images/propos.png");
  min-height: 75%;
  text-align: center;
  height: 500px;
}
.contact {
  background-position: center;
  background-size: cover;
  background-image: url("images/wine-cellar.jpg");
  min-height: 75%;
  text-align: center;
  height: 500px;
}
p {
  font-size: 1.5em;
  color: black;
  background-color: transparent;
  background-image: none;
  }
  #boxes {
    content: "";
    display: table;
    clear: both;
  }


