
.container {
    height: 190px;
    background-color: white;
    padding: 35px 15px 5px;
    display: flex;
    justify-content: space-between;
}
/* .container:before,
.container:after {
    content: "";
    display: table;
    clear: both;
} */
.container div {
    float: left;
    width: 500px;
    height: 160px;
}
#box1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#box2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#box3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#box4 {
    display: flex;
    align-items: center;
    justify-content: center;
}        
.container {
    height: 190px;
    background-color: white;
    padding: 35px 15px 5px;
    display: flex;
    justify-content: space-between;
    }
    .container2 div {
    float: left;
    width: 400px;
    height: 150px;
    }
    #box01 {
    margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #box02 {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #box03 {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #box04 {
    display: flex;
    align-items: center;
    justify-content: center;
    }  
p {
    color: black;
    /*padding: 5px 10px;*/    
    text-align: center;
    font-family: "Inconsolata", sans-serif;
}
h1 {
    font-family: "Inconsolata", sans-serif;
    text-align: center;
}
.containera {
    width: 1500px;
    height:  500px;
    padding: 200px 250px 5px;
}
.containera div {
    float: left;
    width: 180px;
    height: 160px;
}      
#boxa{
    margin-top : 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boxb {
    margin-left: 250px;
    margin-right: 30px;
    width : 800px;
    height : 200px;
    
}