#filtres > button{
    background-color: #AF0E1E;
    border-color: #AF0E1E;
}
#filtres > button:hover{
    background-color: #57070f;
    border-color: #AF0E1E;
}
  
input[type=range]::-moz-range-thumb{
    background: #cf1124;
    box-shadow: none;
}
input[type=range]:active::-moz-range-thumb,
input[type=range]:focus::-moz-range-thumb{
    background: #8a0b18;
    box-shadow: none;
}
  
input[type=range]::-moz-range-track {
    width: 100%;
    cursor: pointer;
    background: #aaa6a6;
}
