#grid{
    width: 95%;
}

#btn-valider{
    background-color: #AF0E1E;
    color:white;
    border: none;
}
#btn-valider:hover{
    background-color: #7c0a16;
    color:white;
    border: none;
}

#cartModal img{
    height: 200px;
    width: auto;
}