
#product > .card{
    height: 100%;
}
#product .card-header{
    min-height: 80px;
}

#product img{
    height: auto;
    width: 100px;
}

#product-description{
    width: 100%;
}

#cart {
    height: 35px !important;
    width: auto !important;
    /* background-image: url(<?= base_url() . "/negosud/public/assets/images/panier.png" ?>); */
    background-size: cover;
    background: no-repeat;
}

#product button{
    height: 35px !important;
    /* width: 35px !important; */
    background-size: cover !important;
    border:none;
    border-radius: 3px;
    background-color: #AF0E1E;
}

#product button:hover{
    background-color: #7c0a16;
    color:white;
    border: none;
}

#product svg{
    pointer-events: none;
}